<div class="parent" cdkDropListGroup>
  <div class="side_container example-list">
    <div cdkDropList id="coinContainer" [cdkDropListData]="coins" class="image_container"
         (cdkDropListDropped)="drop($event)">
      <div>{{coins.length}}</div>
      <ng-container *ngFor="let coin of coins; let i= index">
        <div cdkDrag class="coin">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 508 508">
            <circle cx="254" cy="254" r="254" style="fill:#ffd15c" />
            <circle cx="254" cy="254" r="193.2" style="fill:#f8b64c" />
          </svg>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngFor="let colorArr of TotalBoard; let i= index">
    <div #test class="container_{{i+1}}">
      <div class="row_container">
        <div class="row_1">
          <ng-container *ngFor="let x of [].constructor(10); let i= index">
            <div class="drop_box"></div>
          </ng-container>
        </div>
        <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="colorArr"
             (cdkDropListDropped)="drop($event)" *ngIf="colorArr" class="row_dropper">
          <ng-container *ngFor="let item of colorArr">
            <div class="svg-container" cdkDrag>
              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 508 508">
                <circle cx="254" cy="254" r="254" style="fill:#ffd15c" />
                <circle cx="254" cy="254" r="193.2" style="fill:#f8b64c" />
              </svg>
            </div>
          </ng-container>
        </div>
        <div style="position: absolute; bottom: 0px;">coins: {{colorArr.length}}</div>
      </div>
    </div>
  </ng-container>
</div>