<div class="parent" cdkDropListGroup>
  
  <div class="side_container example-list">
    <div  cdkDropList id="coinContainer" [cdkDropListData]="coins"  class="image_container" (cdkDropListDropped)="drop($event)">      
      <ng-container *ngFor="let coin of coins; let i= index">
        <!-- <div *ngIf="coin.includes('yellow')"> -->
          <div cdkDrag class="coin">          
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 508 508">
              <circle cx="254" cy="254" r="254" style="fill:#ffd15c"/>
              <circle cx="254" cy="254" r="193.2" style="fill:#f8b64c"/>            
            </svg>
          </div>
        <!-- </div>         -->
      </ng-container>            
    </div>
  </div>  
  
  
  
    <div class="container_1">    
      <div class="row_container" *ngFor="let item of GreenArr let i= index">
          <div class="row_1" >
            <ng-container >
              <div class="drop_box">
                <div  cdkDrag>
                    <div >
                      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 508 508">
                        <circle cx="254" cy="254" r="254" style="fill:#ffd15c"/>
                        <circle cx="254" cy="254" r="193.2" style="fill:#f8b64c"/>
                      </svg>
                    </div>              
                </div>          
              </div>
            </ng-container> 
          </div>          
      </div>
    </div> 
  
<!--   <div cdkDropList id="board_1" [cdkDropListData]="emptyarray" [cdkDropListConnectedTo]="['coinContainer']" (cdkDropListDropped)="drop($event)" class="container_1" >
    <div class="row_container">
      <div class="row_1">
        <ng-container *ngFor="let x of [].constructor(5); let i= index">
          <div  class="drop_box">
            <div *ngFor="let item of emptyarray" cdkDrag id="drop_box_1">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 508 508">
                  <circle cx="254" cy="254" r="254" style="fill:#ffd15c"/>
                  <circle cx="254" cy="254" r="193.2" style="fill:#f8b64c"/>              
                </svg>              
            </div>          
          </div>
        </ng-container>        
      </div>
      <div class="row_2">
        <div  class="drop_box" id="drop_box_6"></div>
        <div  class="drop_box" id="drop_box_7"></div>
        <div  class="drop_box" id="drop_box_8"></div>
        <div  class="drop_box" id="drop_box_9"></div>
        <div  class="drop_box" id="drop_box_10"></div>
      </div>
    </div>
  </div> -->
  <!-- <ng-container *ngFor="let colorArr of TotalBoard; let i= index">
  <div class="container_{{i+1}}">    
    <div class="row_container">
      <ng-container *ngFor="let x of [].constructor(2); let i= index">
        <div class="row_{{i+1}}">
          <ng-container *ngFor="let x of [].constructor(5); let i= index">
            <div  cdkDropList [cdkDropListData]="colorArr" (cdkDropListDropped)="drop($event)"  class="drop_box">
              <div *ngFor="let item of colorArr" cdkDrag>
                  <div >
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 508 508">
                      <circle cx="254" cy="254" r="254" style="fill:#ffd15c"/>
                      <circle cx="254" cy="254" r="193.2" style="fill:#f8b64c"/>
                    </svg>
                  </div>              
              </div>          
            </div>
          </ng-container> 
        </div>        
      </ng-container>
    </div>
  </div> 
</ng-container> -->
</div>

<button (click)="test()">test</button>